<div class="footer-delete">
    <div class="mt-2 footer-delete-button">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteAccount">
          Delete my account
        </button>
        <div class="col-auto">
          <div class="modal fade" id="deleteAccount
" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header border-bottom-0">
                  <h3 class="modal-title" id="editModalLabel">Are you sure you want to delete your account?</h3>
                  <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                  </button>
                </div>
                <!-- <form action="/post/createPost" method="POST"> -->
                  <div class="modal-body">
                    <div class="form-group">
                     <p>This action cannot be undone</p>
                      <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                  </div>
                </form>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <p>Copyright &copy 40 Plus Baddies</p>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>