<%- include('partials/header') -%>

<main class="container-fluid login-page">
    <div class="row d-flex justify-content-center mt-5 pt-5">
        <a href="/login" class="col-3 btn btn-primary mx-4"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary mx-4"> Signup</a>
    </div>
    <div class="row d-flex mt-5 pt-5">
        <div>
            <img src="/images/balloon_logo.png" class="balloonLogo" alt="red balloon logo">
        </div>
    </div>
    <div class="d-flex flex-column align-items-center">
        <section id="overview" class="col-lg-9 mt-5">
        <div class="login-section text-start txt-shaded-w-y">
            <p>Let’s countdown to Birthday Town! This app allows users to easily keep track of friends' and family members' birthdays. It will send email reminders leading up to each birthday to help you remember to celebrate your loved ones.</p>
        </div>
        </section>
        <section id="how_to" class="col-lg-9 mt-5">
        <div class="login-section text-start txt-shaded-w-y">
            <header>
            <h2 class="my-5">How to Use</h2>
            </header>
            <ol>
                <li>Create an account and login</li>
                <li>Add a friend or family member to your list</li>
                <li>Fill in their name, birthday, your relationship, and any gift or party ideas</li>
                <li>The app stores this birthday info in a database and sends automated email reminders leading up to each birthday
                    <ul>
                        <li>1 month before - to plan the party</li>
                        <li>1 week before - to get the gift</li>  
                        <li>1 day before - to do the thing</li>
                    </ul>
                </li>
                <li>View your dashboard to see all upcoming birthdays</li>
                <li>Come back anytime to add more!</li>  
            </ol>        
            <p>We hope this app helps you easily remember all your loved ones' special days! Please contact us at 40plusbday@gmail.com if you have any issues.</p>
        </div>
        </section>
        <section id="privacy" class="col-lg-9 mt-5">
        <div class="login-section text-start txt-shaded-w-y">
            <header>
            <h2 class="my-5">Privacy Policy</h2>
            </header>
            <p>We respect your privacy. This app collects only the information necessary for creating an account and sending birthday reminders. The information collected includes your name, email address, password, birthday dates and any additional notes you provide.</p>
            <p>Your data is not processed, used, sold, traded, advertised, or given to any third parties in any way. Your information is kept confidential and secure.</p>
            <p>Email reminders are sent using a secure SMTP service. Message contents are not stored, read, or retained after sending.</p>
            <p>Account information is stored in a secure database protected by encryption, firewalls, and access controls. Data is kept only as long as your account is active.</p>
        </div>
        <div class="d-flex justify-content-center my-5">
            <a href="#tippity-top" class="btn btn-primary">Back to Top</a>
        </div>
        </section>
    </div>
</main>
    

<%- include('partials/footer') -%>