<%- include('partials/header') -%>

<main class="container-fluid">
    <div class="row mx-auto">
        <div class="col-3 text-center mx-auto mt-5">
            <img src="/images/logo.png" class="balloonLogo" alt="red balloon logo">
        </div>
        
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <a href="/login" class="col-3 btn btn-primary mx-4"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary mx-4"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>