<%- include('partials/header') -%>

<main class="container-fluid">
    <div class="row d-flex justify-content-center mt-5 pt-5">
        <a href="/login" class="col-3 btn btn-primary mx-4"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary mx-4"> Signup</a>
    </div>
    <div class="row d-flex mt-5 pt-5">
        <div>
            <img src="/images/balloon_logo.png" class="balloonLogo" alt="red balloon logo">
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>